%p
  %label{:for => "date"} Show Date:
  = f.date_select :date
%p
  %label{:for => "venue"} Venue:
  = f.text_field :venue, :class => "text"
%p
  %label{:for => "City"} City:
  = f.text_field :city, :class => "text"
%p
  %label{:for => "state"} State:
  = f.text_field :state, :class => "text"
%p
  %label{:for => "country"} Country
  = f.text_field :country, :class => "text"
%p
  %label{:for => "description"} Description:
  = f.text_area :description, :class => "text"
