<h1>Tour Dates</h1>
<% if !@tour_dates.blank? %>
	<table class="index" border="0">
    <thead>
		  <tr>
			  <th>Date</th>
		  	<th>City, State (Country)</th>
        <th>Modify</th>
		  </tr>
    </thead>
  <% for tour_date in @tour_dates %>
    <tr>
      <td><%= tour_date.date %></td>
      <td><%= tour_date.city_state_country %></td>
      <td><%= link_to image('remove', :alt => 'Remove link'), remove_admin_tour_date_url(:id => tour_date.id) %></td>
    </tr>
  <% end %>
  </table>
	<%= link_to "Add new Tour Date", :action => "new" %>
<% else %>
  	Looks like you need to add some tour dates!  Click <%= link_to "here", :action => "new" %>
<% end %>
