%h1 Tour Dates
- unless @tour_dates.blank?
  %table.index
    %thead
      %tr
        %th Date
        %th City, State (Country)
        %th Venue
        %th Description
        %th Modify
    %tbody
      - @tour_dates.each do |tour_date|
        %tr
          %td= tour_date.date
          %td= tour_date.city_state_country
          %td= tour_date.venue
          %td= tour_date.description
          %td
            = link_to "Edit", edit_admin_tour_date_path(tour_date)
            = link_to image('remove', :alt => 'Remove link'), [:admin, tour_date], :method => :delete, :confirm => "Are you sure you want to do that?"
  = link_to "Add new Tour Date", :action => "new"
- else
  == Looks like you need to add some tour dates! Click #{link_to "here", :action => "new"}